
{{>header}}
<div class="about-section">
  <h1>Contact us</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      {{!-- <img src="jane.jpg" alt="Jane" style="width:100%"> --}}
      <div class="container" style="height: 250px;padding-top: 20px;">
        {{!-- <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p> --}}
        <h3 class="title">Online Customer Support</h3>
        <P>Customer care team email: cs@tathastu.co.in</P>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      {{!-- <img src="mike.jpg" alt="Mike" style="width:100%"> --}}
      <div class="container" style="height: 250px;padding-top: 20px;">
        {{!-- <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p> --}}
        <h3 class="title">Office Address</h3>
         <P>Natures Basket Ltd.
            Registered Office:
            2nd Floor, Spencer Building, 30 Forjett Street,
            Grant Road (West),Mumbai - 400036
            Corporate Office:
            91 Springboard, Vikhroli, 1st Floor, Godrej & Boyce,
            Gate No 2, Plant No.6, LBS Marg,
            Opposite Vikhroli Bus Depot,
            Vikhroli West, Mumbai - 400079
            To reach our customer service team please email us at: cs@naturesbasket.co.in or call us at : +9188800 77745
          </P>
      </div>
    </div>
  </div>
  
  <div class="column" >
    <div class="card">
      {{!-- <img src="john.jpg" alt="John" style="width:100%"> --}}
      <div class="container" style="height: 250px;padding-top: 20px;">
        {{!-- <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p> --}}
        <h3 class="title">Phone Customer Support</h3>
        <P>Customer care team phone number: +9188800 77745​ Office Time: 09.00 am to 09.00 pm</P>
      </div>
    </div>
  </div>
</div>