{{>header}}
{{#if data}}
<script type="text/javascript" async>
    const token = '{{data}}';
    localStorage.setItem("token", token)
</script>
{{/if}}
<div class="sidebar active">
    <div class="logo_content">
        <div class="logo">
            <box-icon type='solid' name='home'></box-icon>
            <i class='bx bxs-home'></i>
            <div class="logo_name">Tathastu Interio</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/dashboard">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Dashboard</spam>
            </a>
        </li>
        <li>
            <a href="#" class="curr_page">
                <i class='bx bxs-user' style="color:black"></i>
                <spam class="links_name color" style="color:Black">Employee</spam>
            </a>
        </li>
                <li>
            <a href="/lead">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Lead</spam>
            </a>
        </li>
        <li>
            <a href="/project">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">project</spam>
            </a>
        </li>

        <li>

            <a href="#">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">setting</spam>
            </a>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <!-- <img src="profile.jpg" alt=""> -->
                <div class="name_job">
                    <div class="name">jayesh kaushal</div>
                    <div class="job"> web Designed</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
        <table class="table table-striped  emp_teable">
                    <thead class="thead-dark">
                        
                        <tr>
                            <th scope="col"><button type="button" class="btn btn-info"><h4>+ Add New</h4></button></th>
                            <th scope="col"><h3>Employee List</h3></th></tr>
                    </thead>
            
        </table>

    <table class="table table-striped  emp_teable">
       
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">EmpId</th>
                <th scope="col">Name</th>
                <th scope="col">phone</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>emp1</td>
                <td>Mark</td>
                <td>12345</td>
                <td>
                    <i class='bx bxs-edit'></i> &nbsp;
                    <i class='bx bxs-x-circle'></i>
                </td>
                

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>emp2</td>
                <td>Jacob</td>
                <td>409253</td>
                <td>
                    <i class='bx bxs-edit'></i> &nbsp;
                    <i class='bx bxs-x-circle'></i>
                </td>
                
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>emp3</td>
                <td>Larry</td>
                <td>5325234</td>
                <td>

                    <a href="/editEmp">
                        <i class='bx bxs-edit'></i></a>
                    </i> &nbsp;
                     <a href="/employeedit">
                    <i class='bx bxs-x-circle'></i></a>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>