{{>header}}
<div class="sidebar active">
    <div class="logo_content">
        <div class="logo">
            <box-icon type='solid' name='home'></box-icon>
            <i class='bx bxs-home'></i>
            <div class="logo_name">Tathastu Interio</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/dashboard">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Dashboard</spam>
            </a>
        </li>
        <li style="margin-top: 10px;">
            <a href="/employee/list">
                <i class='bx bxs-user'></i>
                <spam class="links_name">Employees</spam>
            </a>
        </li>
        <li style="margin-top: 10px;">
            <a href="/lead">
                <i class='bx bx-grid-small'></i>
                <spam class="links_name">Leads</spam>
            </a>
        </li>
        <li style="margin-top: 10px;"> 
            <a href="#" class="curr_page">
                <i class='bx bx-grid-small' style="color:black"></i>
                <spam class="links_name" style="color:black" ;>Ledger</spam>
            </a>
        </li>

        <li class="row_li" style="margin-left: 40px; width: 150px;border-color: black;margin-top: 20px;">
            <form action="/">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')"
                    class="form-control selectpicker" style="color: white;background-color: black;">
                    <option value="">Settings</option>
                    <option value="/passwordReset">Password Reset</option>

                </select>
            </form>
        </li>
    </ul>

    <div class="profile_content">

        <div class="profile">
            <div class="profile_details">
                <!-- <img src="profile.jpg" alt=""> -->
                <div class="name_job">
                    <div class="name">jayesh kaushal</div>
                    <div class="job"> web Designed</div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-lg" style="margin-left:250px;margin-right:20px">
    <table class="table table-striped  emp_teable" style="margin-top: 20px">
        <thead class="thead-dark">

            <tr>

                <th scope="col">
                    <h3 style="text-align: center;">Ledger Account</h3>
                </th>
                

            </tr>
        </thead>

    </table>

</div>

<div class="home_content_ledger">

    <div class="container">
        <div class="row" style="margin-top: 150px;width:100%">
          
            <div class="column">
                <div class="card bg-light mb-6" style="max-width: 27rem;">
                      <a href="/venderAccountAll" style="text-decoration: none;color:black">
                    <div class="card-header"><h3 style="text-align: center;"><b>Vender Account</b></h3></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;"><b>210</b></h1>
                        <p class="card-text" style="text-align: center;">
                           <b> Total no of Vender </b>
                           
                        
                        </p>
                    </div>
                </div>
                </a>
            </div>
            
            <div class="column">
                <div class="card bg-light mb-6" style="max-width: 27rem;">
                    <a href="/customerAccount" style="text-decoration: none;color:black">
                    <div class="card-header"><h3 style="text-align: center;"><b>Customer Account</b></h3></div>
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center;"><b>450</b></h1>
                        <p class="card-text" style="text-align: center;">
                           <b> Total no of Customert </b>
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>

    </div>
</div>

</div>