
{{>header}}
<div class="about-section">
  <h1>Services</h1>
  {{!-- <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p> --}}
</div>

{{!-- <h2 style="text-align:center">Our Team</h2> --}}
<div class="row" style="margin-left: 350px;margin-top:90pxpx;width:100%;">
  <div class="column">
    <div class="card" >
      {{!-- <img src="jane.jpg" alt="Jane" style="width:100%"> --}}
      <div class="container" >
        <h2 style="color: black;">Interior Design</h2>
        {{!-- <p class="title">CEO & Founder</p> --}}
        <p>iQ designs provides both comprehensive design services and simple design consultation such as assistance with product selection. We have a thorough process to make sure our clients are satisfied.
           Visit job site to determine the needs and scope of the project.
           Work with hotel/franchise to determine specifications and requirements OR create custom design.
           Design Board to show colors, design direction, and product selections
           3-D, color rendering of space
           CAD drawing of furniture layout
           Custom designed furniture in some cases
           Specification manual with technical drawings and manufacturers information for submittal
           Source products from vendors worldwide to find unique pieces of high quality that fit your budget
           Work with vendors and logistics companies to schedule a convenient delivery
           Perform walk-thru to make sure all punch lists are addressed
        </p>
        {{!-- <p><button class="button">Contact</button></p> --}}
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="design.jpg" alt="Mike" style="width:100%;height:440px" >
      {{!-- <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div> --}}
    </div>
  </div>
  
  {{!-- <div class="column">
    <div class="card">
      <img src="john.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> --}}
</div>